# ========================
# security
# ========================
credentials/
.env
.env.example
*.json

# ========================
# local output data
# ========================
data/output/

# ========================
# logs
# ========================
*.log

# ========================
# documents, github
# ========================
docs/
README.md
.github/

# ========================
# tests
# ========================
tests/
.pytest_cache/

# ========================
# python,os
# ========================
__pycache__/
*.py[cod]

# ========================
# virtual environments
# ========================
venv/

# ========================
# docker
# ========================
Dockerfile
Makefile
docker-compose.yml
.dockerignore

# ========================
# git
# ========================
.git
.gitignore
