# Used for generating consistent reason_id for the same review text across different runs.
UUID_STRING=

# BigQuery settings
PROJECT_ID=
DATASET_ID=
TABLE_PREFIX=
# Auth
GOOGLE_APPLICATION_CREDENTIALS=